/bin
/obj
.fake
./CleanArchApi/obj
./ConsoleApp/obj
/ConsoleApp/bin/Debug/net9.0/LearnCSharpConcepts.dll
/ConsoleApp/bin/Debug/net9.0/LearnCSharpConcepts.exe
/ConsoleApp/bin/Debug/net9.0/LearnCSharpConcepts.pdb
/ConsoleApp/obj/Debug/net9.0/ref/LearnCSharpConcepts.dll
/ConsoleApp/obj/Debug/net9.0/refint/LearnCSharpConcepts.dll
/ConsoleApp/obj/Debug/net9.0/apphost.exe
/ConsoleApp/obj/Debug/net9.0/LearnCSharpConcepts.AssemblyInfo.cs
/ConsoleApp/obj/Debug/net9.0/LearnCSharpConcepts.AssemblyInfoInputs.cache
/ConsoleApp/obj/Debug/net9.0/LearnCSharpConcepts.dll
/ConsoleApp/obj/Debug/net9.0/LearnCSharpConcepts.pdb
/ConsoleApp/obj/Debug/net9.0/LearnCSharpConcepts.sourcelink.json
/ConsoleApp/obj/rider.project.model.nuget.info
/ConsoleApp/obj/rider.project.restore.info
/DotnetCoreAPI/bin/Debug/net9.0/DotnetCoreAPI.dll
/DotnetCoreAPI/bin/Debug/net9.0/DotnetCoreAPI.exe
/DotnetCoreAPI/bin/Debug/net9.0/DotnetCoreAPI.pdb
/DotnetCoreAPI/obj/Debug/net9.0/ref/DotnetCoreAPI.dll
/DotnetCoreAPI/obj/Debug/net9.0/refint/DotnetCoreAPI.dll
/DotnetCoreAPI/obj/Debug/net9.0/apphost.exe
/DotnetCoreAPI/obj/Debug/net9.0/DotnetCoreAPI.AssemblyInfo.cs
/DotnetCoreAPI/obj/Debug/net9.0/DotnetCoreAPI.AssemblyInfoInputs.cache
/DotnetCoreAPI/obj/Debug/net9.0/DotnetCoreAPI.dll
/DotnetCoreAPI/obj/Debug/net9.0/DotnetCoreAPI.pdb
/DotnetCoreAPI/obj/Debug/net9.0/DotnetCoreAPI.sourcelink.json
/DotnetCoreAPI/obj/rider.project.restore.info
